<body>
  <section class="contenedor proceso">
    <div class="contenedor">
      <h2 class="titulo">¿CUAL ES EL PROCESO DE ADOPCION?</h2>
      <div class="proceso-cont">
        <mat-tab-group animationDuration="2000ms" mat-align-tabs="center">
          <mat-tab label="Primero"> Registrarte en nuestra pagina, en la parte de inicio</mat-tab>
          <mat-tab label="Segundo"> Rellenar y firmar solicitud de adopción. La solicitud se encuentra
            en la parte de Inicio, una vez llenada la solicitud esta debe ser enviada a nosotros, via Whatsapp o correo.
          </mat-tab>
          <mat-tab label="Tercero"> Una vez recibamos su solicitud coordinaremos con usted una entrevista telefonica y,
            posteriormente, una visita a su domicilio con el fin de evaluar en que condiciones vivira el peque que
            decidan
            adoptar.
          </mat-tab>
          <mat-tab label="Cuarto"> Si la adopción es aprobada necesitaremos de su INE o identificacion oficial
            y copia de su comprobante de domiciolio. Ademas de una cuota de adopción de $500, dicha cuota se destinará
            a pagar los gatos generados en recursos veterinarios, vacunas, medicina, estéticas, etc. </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </section>
  <section class="contenedor sobre-nosotros">
      <h2 class="titulo">NUESTRA LABOR</h2>
      <div class="contenedor-sobre-nosotros">
          <img src="\assets\img\portadaCP.svg" alt="" class="imagen-about-us">
          <div class="contenido-textos">
              <h3><span>1</span> La mejor opcion para adopción</h3>
              <p>Tenemos gatitos y perritos que en mayor parte son rescatados, estos son de lo mas cariñosos y agradecidos. Se les proporciona adiestramiento y son cero agresivos, si necesitas un gran compañero de vida no dudes en visitarnos.</p>
              <h3><span>2</span> Los mejores cuidados</h3>
              <p>Contamos con los mejores cuidados, veterinaria y buena alimentacion. Los pequeños que son rescatados son vacunados y desinfectados, nunca reciben un mal trato al contrario se les llena de amor.</p>
          </div>
      </div>
  </section>
  <section class="portafolio">
      <div class="contenedor">
          <h2 class="titulo">TU FUTURO COMPAÑERO</h2>
          <div class="galeria-port">
              <div class="imagen-port">
                  <img src="\assets\img/img5.jpg"  alt="">
                  <div class="hover-galeria">
                      <p>Nuestros pequeños</p>
                  </div>
              </div>
              <div class="imagen-port">
                <img src="\assets\img/img2.jpg" alt="">
                  <div class="hover-galeria">
                      <p>Nuestros pequeños</p>
                  </div>
              </div>
              <div class="imagen-port">
                <img src="\assets\img/img3.jpg" alt="">
                  <div class="hover-galeria">
                      <p>Nuestros pequeños</p>
                  </div>
              </div>
              <div class="imagen-port">
                <img src="\assets\img/img4.jpg" alt="">
                  <div class="hover-galeria">
                      <p>Nuestros pequeños</p>
                  </div>
              </div>
              <div class="imagen-port">
                  <img src="\assets\img/perro1.jpg" alt="">
                  <div class="hover-galeria">
                      <p>Nuestros pequeños</p>
                  </div>
              </div>
              <div class="imagen-port">
                  <img src="\assets\img/perro2.jpg" alt="">
                  <div class="hover-galeria">
                      <p>Nuestros pequeños</p>
                  </div>
              </div>
              <div class="imagen-port">
                  <img src="\assets\img/perro3.jpg" alt="">
                  <div class="hover-galeria">
                      <p>Nuestros pequeños</p>
                  </div>
              </div>
              <div class="imagen-port">
                  <img src="\assets\img/perro4.jpg" alt="">
                  <div class="hover-galeria">
                      <p>Nuestros pequeños</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="clientes contenedor">
      <h2 class="titulo">¿QUE OPINAN LOS ESPECIALISTAS DE VETERINARIA?</h2>
      <div class="cards">
          <div class="card">
              <div class="contenido-texto-card">
                  <h4>Angel Gonzalez. °Licenciatura en Veterinaria. </h4>
                  <p>Un gran proyecto que ayuda de mucho. Jamás habia visto algo asi, se me hace una idea increible.</p>
              </div>
          </div>
          <div class="card">
              <div class="contenido-texto-card">
                  <h4>Silvestre Cruz. °Licenciatura en Zootecnia. </h4>
                  <p>Es muchisimo mejor adoptar una mascota que comprarla, ayudan a animalitos que no reciben cariño y/o cuidados.</p>
              </div>
          </div>
      </div>
  </section>
  <section class="about-services">
      <div class="contenedor">
          <h2 class="titulo">NUESTROS SERVICIOS</h2>
          <div class="servicio-cont">
              <div class="servicio-ind">
                <img src="\assets\img/reducir-estres-de-mascotas-1.jpg" alt="">
                  <h3>Veterinaria</h3>
                  <p>Contamos con los mejores veterinarios, los cuales se encargan de atender las necesidades clinicas de los pequeños que son rescatados.</p>
              </div>
              <div class="servicio-ind">
                  <img src="\assets\img/estilista.jpg" alt="">
                  <h3>Estilista</h3>
                  <p>Los pequeños que son rescatados normalmente llegan con pelaje algo maltratado, es por eso que nuestros estilistas se movilizan.</p>
              </div>
              <div class="servicio-ind">
                  <img src="\assets\img/gato_peine.jpg" alt="">
                  <h3>Cuidados</h3>
                  <p>Tenemos los mejores cuidadores, estos se encargan de la limpieza y alimentacion de los pequeños, cuidan y educan a cada uno.</p>
              </div>
          </div>
      </div>
  </section>
</body>
